<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/touxiang.png" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">田源</a></h1>
            <p>我要当全栈工程师！</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">首页</a></li>
                <li><a href="{{ site.baseurl }}/blog">博客</a></li>
                <!-- <li><a href="{{ site.baseurl }}/contact">滴滴我</a></li> -->
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="https://github.com/ty01528?tab=repositories" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="mailto:tianyuan01528@foxmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>

